<nav class="navbar navbar-expand-md bg-dark fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home" style="color: white">White Board</a>
    </div>
    <div class="navbar-nav" id="myNavbar">
      <a *ngIf="loggedIn === false" routerLink="/login" style="color: white; margin:12px">Login</a>
      <a *ngIf="loggedIn === false"  routerLink="/register" style="color: white; margin:12px">Register</a>
      <a *ngIf="loggedIn === true"  routerLink="/profile" style="color: white; margin:12px">Profile</a>
      <a *ngIf="loggedIn === true"  (click)="logout()" style="color: white; margin:12px">Logout</a>
    </div>
  </div>
</nav>
<br/>
<div class="container-fluid">
  <h1>White Board</h1>

  <app-course-grid></app-course-grid>
</div>

