<!--split-->
<div class="row">
  <div class="col-4">
    <ul class="list-group">
      <li class="list-group-item active">Modules</li>

      <!--ngClass allows you dynamically calculate the class on the fly based on some criteria-->
      <!--it can takes one json object: key is the class you want to apply and the value is the predicate,-->
      <!--returns true or false. If it is true, it applies that class. If it's false it does not apply the class.-->

      <!--Since I'm modifying the DOM, I need to put brackets in this.-->
      <!--I'm going to apply active class if module.id == modueId-->
      <li [ngClass]="{'active': module.id == moduleId}" *ngFor ="let module of modules"
          class="list-group-item wbdv">
        <a routerLink="/course/{{courseId}}/module/{{module.id}}">{{module.title}}</a>

        </li>
    </ul>
  </div>
  <div class="col-8">
    <app-lesson-tabs></app-lesson-tabs>
  </div>
</div>




