<div class="container-fluid">
  <h1>Sections for {{course?course.title:null}}</h1>
  <div *ngIf="user.username === 'admin'">
    <input [(ngModel)]="sectionName" placeholder="Section Name" class="form-control">
    <input [(ngModel)]="maxSeats" placeholder="Maximum Seats" class="form-control">
    <button *ngIf="editing === false"(click)="createSection(sectionName, maxSeats)" class="btn btn-success btn-block">Add Section</button>
    <button *ngIf="user.username === 'admin' && editing === true" (click)="editDone(editingSection, sectionName, maxSeats)" class="btn btn-success btn-block">Edit done!</button>
  </div>
  <ul class="list-group">
    <li *ngFor="let section of sections" class="list-group-item">
      {{section.name}} current available seats: {{section.seats}} / max capacity: {{section.maxSeats}}
      <button *ngIf="user.username != 'admin'" (click)="enroll(section)" class="float-right btn btn-primary">Enroll</button>
      <button *ngIf="user.username === 'admin'" (click)="edit(section)" class="float-right btn btn-primary">Edit</button>
      <button *ngIf="user.username === 'admin'" (click)="remove(section)" class="float-right btn btn-primary">Remove</button>
      <!--show it or not depending-->
    </li>

  </ul>

  <a routerLink="/profile">Profile</a>
  <a routerLink="/home">Home</a>

</div>
