<nav class="navbar navbar-expand-md bg-dark fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home" style="color: white">White Board</a>
    </div>
    <div class="navbar-nav" id="myNavbar">
      <!--<a *ngIf="loggedIn === false" routerLink="/login" style="color: white; margin:12px">Login</a>-->
      <!--<a *ngIf="loggedIn === false"  routerLink="/register" style="color: white; margin:12px">Register</a>-->
      <!--<a *ngIf="loggedIn === true"  routerLink="/profile" style="color: white; margin:12px">Profile</a>-->
      <a *ngIf="user.username === 'admin'" style="color: white; margin:12px" routerLink="/admin">Admin</a>
      <a *ngIf="loggedIn === true"  (click)="logout()" style="color: white; margin:12px">Logout</a>
      <a routerLink="/home" style="color: white; margin:12px">Home</a>
    </div>
  </div>
</nav>

<br/>
<br/>
<br/>


<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)] = "user.username"
         placeholder= "username"
         class="form-control"  />

  <input [(ngModel)] = "user.firstName"
         placeholder= "first name"
         class="form-control"  />

  <input [(ngModel)] = "user.lastName"
         placeholder= "last name"
         class="form-control"  />

  <input [(ngModel)] = "user.phoneNumber"
         placeholder= "phone number"
         class="form-control"  />

  <input [(ngModel)] = "user.email"
         placeholder= "email"
         class="form-control"  />

  <input [(ngModel)] = "user.address"
         placeholder= "address"
         class="form-control"  />

  <button (click) = "update()"
          class="btn btn-primary btn-block">
    Update
  </button>
  <button (click) = "deleteProfile()" class="btn btn-danger btn-block">Delete this profile</button>

  <h2>Enrolled Sections ({{enrollments.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of enrollments" class="list-group-item">
      <a routerLink={{enrollment.courseRoute}}>{{enrollment.course?enrollment.course.title:null}}</a> |
      {{enrollment.section.name}} |
      Grade: {{enrollment.grade}}
      <button (click)="unenroll(enrollment)" class="float-right btn btn-primary">Unenroll</button>
    </li>

  </ul>
</div>
