<div class="container-fluid">
  <h1>Profile</h1>

  <input [(ngModel)] = "user.username"
         placeholder= "username"
         class="form-control"  />

  <input [(ngModel)] = "user.firstName"
         placeholder= "first name"
         class="form-control"  />

  <input [(ngModel)] = "user.lastName"
         placeholder= "last name"
         class="form-control"  />

  <input [(ngModel)] = "user.phoneNumber"
         placeholder= "phone number"
         class="form-control"  />

  <input [(ngModel)] = "user.email"
         placeholder= "email"
         class="form-control"  />

  <input [(ngModel)] = "user.address"
         placeholder= "address"
         class="form-control"  />

  <button (click) = "update(user)"
          class="btn btn-primary btn-block">
    Update
  </button>

  <h2>Enrolled Sections ({{enrollments.length}})</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of enrollments" class="list-group-item">
      Course name: {{enrollment.section.courseId}} |
      Section name: {{enrollment.section.name}} |
      Grade: {{enrollment.grade}}
      <button (click)="unenroll(enrollment)" class="float-right btn btn-primary">Unenroll</button>
    </li>

  </ul>

  <a (click)="logout()">Logout</a>
  <a routerLink="/home">Home</a>

</div>
