<div *ngIf="user.username != null && user.username != 'admin'">
  <h2>
    Courses You Have Enrolled ({{enrolledCourses.length}})
  </h2>
  <div class="row">
    <div *ngFor="let course of enrolledCourses" class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{course.title}}</h5>
          <p class="card-text"></p>
          <a routerLink="/course/{{course.id}}" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>

</div>

<br/>

<h2>
  Courses Currently Active ({{courses.length}})
</h2>

<div class="row">
  <div *ngFor="let course of courses" class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p *ngIf="course.private === true" class="card-text">This is a private course!</p>

        <a routerLink="/course/{{course.id}}" class="btn btn-primary">View</a>
        <!--routerLink is designed specially for router path.-->
        <a *ngIf="user.username != 'admin'" routerLink="/course/{{course.id}}/section" class="btn btn-primary">Enroll</a>
        <a *ngIf="user.username === 'admin'" routerLink="/course/{{course.id}}/section" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
</div>
